extends layout


block content

	.content#home
		h1 Bienvenido a: "Este modulo se comunica con tu puta madre"
		p.uno.dos.tres.cuatro Hola

		p
			span "Hola"

	h1= title
	p Welcome to #{title}

	.page(style='background-image:url(images/madrid.jpg);')

		<p>hola</p>

		h1 Hola
		p  
			EÑLWKREWR
			WEKRKEWRKE
			KRKR